<div class="kanban-board">
  <div class="column">
    <div class="column-header">
      <h2>To Do ({{ getTasksCount('todo') }})</h2>
      <button class="add-task-btn" (click)="addTask('todo')">+</button>
    </div>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todoTasks"
      [cdkDropListConnectedTo]="[inProgressList, doneList]"
      class="task-list"
      id="todo"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="task-card" *ngFor="let task of todoTasks" cdkDrag>
        <ng-container *ngIf="editingTask?.id === task.id">
          <app-task-edit
            *ngIf="editingTask"
            [task]="editingTask"
            (save)="saveTask($event)"
            (cancel)="cancelEdit()"
          ></app-task-edit>
        </ng-container>
        <ng-container *ngIf="editingTask?.id !== task.id">
          <div class="task-header">
            <h3>{{ task.title }}</h3>
            <div class="task-actions">
              <button class="edit-btn" (click)="editTask(task)">Edit</button>
              <button class="delete-btn" (click)="deleteTask(task.id!)">×</button>
            </div>
          </div>
          <p class="task-description">{{ task.description }}</p>
          <div class="task-footer">
            <span class="priority-badge" [class]="getPriorityClass(task.priority)">
              {{ task.priority }}
            </span>
            <span class="due-date">Due: {{ task.due_date }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="column-header">
      <h2>In Progress ({{ getTasksCount('inProgress') }})</h2>
      <button class="add-task-btn" (click)="addTask('inProgress')">+</button>
    </div>
    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgressTasks"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      class="task-list"
      id="inProgress"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="task-card" *ngFor="let task of inProgressTasks" cdkDrag>
        <ng-container *ngIf="editingTask?.id === task.id">
          <app-task-edit
            *ngIf="editingTask"
            [task]="editingTask"
            [task]="editingTask"
            (save)="saveTask($event)"
            (cancel)="cancelEdit()"
          ></app-task-edit>
        </ng-container>
        <ng-container *ngIf="editingTask?.id !== task.id">
          <div class="task-header">
            <h3>{{ task.title }}</h3>
            <div class="task-actions">
              <button class="edit-btn" (click)="editTask(task)">Edit</button>
              <button class="delete-btn" (click)="deleteTask(task.id!)">×</button>
            </div>
          </div>
          <p class="task-description">{{ task.description }}</p>
          <div class="task-footer">
            <span class="priority-badge" [class]="getPriorityClass(task.priority)">
              {{ task.priority }}
            </span>
            <span class="due-date">Due: {{ task.due_date }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="column-header">
      <h2>Done ({{ getTasksCount('done') }})</h2>
      <button class="add-task-btn" (click)="addTask('done')">+</button>
    </div>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="doneTasks"
      [cdkDropListConnectedTo]="[todoList, inProgressList]"
      class="task-list"
      id="done"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="task-card" *ngFor="let task of doneTasks" cdkDrag>
        <ng-container *ngIf="editingTask?.id === task.id">
          <app-task-edit
            *ngIf="editingTask"
            [task]="editingTask"
            (save)="saveTask($event)"
            (cancel)="cancelEdit()"
          ></app-task-edit>
        </ng-container>
        <ng-container *ngIf="editingTask?.id !== task.id">
          <div class="task-header">
            <h3>{{ task.title }}</h3>
            <div class="task-actions">
              <button class="edit-btn" (click)="editTask(task)">Edit</button>
              <button class="delete-btn" (click)="deleteTask(task.id!)">×</button>
            </div>
          </div>
          <p class="task-description">{{ task.description }}</p>
          <div class="task-footer">
            <span class="priority-badge" [class]="getPriorityClass(task.priority)">
              {{ task.priority }}
            </span>
            <span class="due-date">Due: {{ task.due_date }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>